/* custom css */
.navbar{
  color:#fff !important;
}

.main-content{
  margin-top:100px;
  margin-bottom:50px;
}

form > .title{
  margin-bottom: 20px;
}

.help{
  color:#696969;
  font-size: 10pt;
}

.my-footer{
  background-color: #004b9b;
  min-height:200px;
}

.add-file{
  width:100%;
  background-color:#fff;
  border:3px dotted #bdbdbd;
  padding:20px 10px 2px 10px;
}

.add-file > i{
  font-size:24pt;
  width: 100%;
  text-align: center;
  color:#9c9696;
}

.add-file > p{
  width: 100%;
  text-align: center;
  color:#9c9696;
  margin-top: 10px;
}

.images-preview{
  margin-top:10px;
}

.image-preview{
  position: absolute;
  max-width:100px;
  max-height: 100px;
  top:0;
  bottom: 0;
  margin: auto;
}

.image-container{
  position: relative;
  width:100px;
  height:100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color:#fff;
  border: 1px solid #bdbdbd;
  float: left;
  margin-right: 10px;
}

.image-loading{
  position: absolute;
  width:100px;
  height: 100px;
  font-size:10pt;
  text-align: center;
  margin-top:20px;
}

.chart{
  margin-top:20px;
}

.product-container{
  border:1px solid #dadada;
  margin-bottom: 10px;
}

.product-name{
  padding:10px;
  font-size:11pt;
  color:#1c1c1c;
}

.product-link:hover{
  text-decoration: none;
}

.product-image-container{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height:150px;
}

.product-image{
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

.product-image:hover{
  width: 150%;
}

.product-category{
  font-size:10pt;
  color:#696969;
}

.product-price{
  text-align:right;
  font-size:12pt;
  padding-right:10px;
}

.product-detail-price{
  font-size:14pt;
  font-weight: bold;
  margin-top: 15px;
}

.product-desc{
  font-size:10pt;
  color:#333232;
  padding: 10px;
}

.detail-image-preview{
  position: absolute;
  max-width:68px;
  max-height: 68px;
  top:0;
  bottom: 0;
  margin: auto;
}

.detail-image-container{
  position: relative;
  width:70px;
  height:70px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color:#fff;
  border: 1px solid #bdbdbd;
  float: left;
  margin-right: 10px;
}

.detail-image-main{
  width:100%;
}

.display-image-container{
  margin-bottom: 20px;
}

.search-product-container{
  margin-bottom:20px;
}

.full{
  width:100%;
}

.btn{
  border-radius: 0px;
}

.btn-google{
  background-color:#dd4b39;
  color:#f2f2f2;
}

.btn-google:hover{
  background-color: #bb4131;
  color:#f2f2f2;
}

.btn-facebook{
  background-color:#3B5998;
  color:#f2f2f2;
}

.btn-facebook:hover{
  background-color:rgb(45, 67, 116);
  color:#f2f2f2;
}

.cart-icon{
  padding: 5px;
  color:#f8f8f8;
  background-color: #004b9b;
  font-size:11pt;
}

.cart-icon:hover , .cart-icon:focus{
  content: attr("add to cart");
  color:#fff;
  background-color: #00346b;
}

.cart-total-price{
  text-align: right;
  margin-bottom:10px;
}
